argcomplete==3.5.2
asttokens==3.0.0
build==1.2.2.post1
CacheControl==0.14.1
certifi==2024.12.14
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
colorama==0.4.6
crashtest==0.4.1
decorator==5.1.1
distlib==0.3.9
dulwich==0.21.7
executing==2.1.0
fastjsonschema==2.21.1
filelock==3.16.1
idna==3.10
installer==0.7.0
ipython==8.31.0
jaraco.classes==3.4.0
jedi==0.19.2
keyring==24.3.1
matplotlib-inline==0.1.7
more-itertools==10.5.0
msgpack==1.1.0
packaging==24.2
parso==0.8.4
pexpect==4.9.0
pipx==1.7.1
pkginfo==1.12.0
platformdirs==4.3.6
poetry==1.8.5
poetry-core==1.9.1
poetry-plugin-export==1.8.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyproject_hooks==1.2.0
pywin32-ctypes==0.2.3
RapidFuzz==3.11.0
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
stack-data==0.6.3
tomlkit==0.13.2
traitlets==5.14.3
trove-classifiers==2024.10.21.16
urllib3==2.3.0
userpath==1.9.2
virtualenv==20.28.0
wcwidth==0.2.13
