<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page TI - Problemas e Funcionalidades</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Como um ERP pode transformar sua empresa?</h1>
        <p>Descubra como solucionar os principais problemas de gestão e organização do seu negócio com um ERP.</p>
        <a href="https://wa.me/5549991296313?text=Gostaria+de+saber+mais+sobre+os+servi%C3%A7os+oferecidos">
            <button>Fale Conosco via WhatsApp</button>
        </a>
    </header>
    <main>
        <section id="problems">
            <h2>Se em sua empresa você está com:</h2>
            <ul>
                <li>Planilhas confusas;</li>
                <li>Falta de controle financeiro;</li>
                <li>Estoque fora de controle;</li>
                <li>Dificuldade de integração de dados;</li>
                <li>Ausência de automação nos processos;</li>
                <li>Perda de vendas por falta de organização.</li>
            </ul>
        </section>
        <section id="solution">            
            <h2>Essa página é pra você!</h2>
            <p>
            <h2>Com um bom ERP, você terá controle total sobre finanças, vendas, compras, estoque e muito mais!</h2>
        </section>            
        <!-- Imagem 1 -->
        <div class="image-container">
            <img src="/static/images/image1.jpeg" alt="Descrição da imagem 1">
        </div>
        <section id="features">          
            <h2>Conheça algumas das funcionalidades e características:</h2>
            <ul>
                <li>Emissor Fiscal - Emita notas fiscais de maneira integrada e gratuita, na mesma plataforma em que faz sua gestão.</li>
                <li>PDV - Tenha uma frente de caixa intuitiva e com todas as funcionalidades que você precisa.</li>
                <li>Vendas - Funcionalidades específicas para você realizar um atendimento focado em seu cliente.</li>
                <li>Ordem de Serviço - Fluxo completo de ordem de serviço.</li>
                <li>Agendamento - Controle de agendamento de atendimentos.</li>
                <li>Orçamentos - Faça uma gestão financeira eficiente ao ter controle dos seus orçamentos completos.</li>
                <li>Loja Virtual - Alcance novos clientes ao disponibilizar uma loja virtual personalizada com produtos e serviços vendidos.</li>
                <li>Clientes - Tenha as informações de seus clientes cadastradas para um atendimento personalizado.</li>
                <li>Financeiro - Realize a gestão financeira otimizada e tenha o controle do fluxo de caixa.</li>
                <li>Estoque - Tenha o máximo de controle da movimentação dos seus produtos para uma melhor performance.</li>
                <li>Grade - Organize seus produtos de forma que tamanhos e cores diferentes sejam agrupadas.</li>
                <li>Fornecedores - Organize os contatos de seus fornecedores e tenha mais facilidade na gestão de pedidos.</li>
                <li>Relatórios - Acompanhe o desempenho do seu negócio com relatórios detalhados e atualizados em tempo real.</li>
            </ul>
            <a href="https://wa.me/5549991296313?text=Gostaria+de+saber+mais+sobre+os+servi%C3%A7os+oferecidos">
                <button>Conheça mais sobre o ERP</button>
            </a>
        </section>
        <!-- Imagem 2 -->
        <div class="image-container">
            <img src="/static/images/image2.jpeg" alt="Descrição da imagem 2">
        </div>
        <section id="pricing">
            <h2 style="color: red;">E se eu te contar que você pode utilizar esse ERP de forma gratuita?</h2>
            <p>É isso mesmo! Você não entendeu errado.</p>
            <p>Sim, trata-se do ERP MarketUP, é uma plataforma de gestão totalmente grátis e sem nenhum limite de utilização das suas funcionalidades.</p>
            <p>Nada de restrições, emita a quantidade necessária de notas fiscais, cadastre quantos produtos tiver em catálogo, mantenha seu histórico de atendimentos e muito mais.</p>
            <a href="https://wa.me/5549991296313?text=Gostaria+de+adquirir+o+ERP">
                <button>Quer saber mais?</button>
            </a>
        </section>
        <section id="services">
            <h2 style="color: red;">E o que estamos te oferecendo aqui então?</h2>
            <p>Oferecemos e cobramos por serviços especializados de configuração, migração de dados, treinamento e suporte!</p>
            <p>Dedique o seu tempo para o seu negócio e deixe-nos ajuda-lo na implantação e início de uso do sistema.</p>
        </section>
        <!-- Imagem 3 -->
        <div class="image-container">
            <img src="/static/images/image3.png" alt="Descrição da imagem 3">
        </div>        
        <section id="cta">
            <h2>Pronto para Transformar Sua Empresa?</h2>
            <a href="https://wa.me/5549991296313?text=Gostaria+de+adquirir+o+ERP">
                <button>Entre em Contato Agora</button>
            </a>
        </section>
    </main>
    <footer>
        <p>&copy; Melhore Consultoria Empresarial - 2025 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>